<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0.07</string>
	<string>0.07</string>
	<string>0.08</string>
	<string>0.10</string>
	<string>0.18</string>
	<string>0.18</string>
	<string>0.17</string>
	<string>0.16</string>
	<string>0.18</string>
	<string>0.14</string>
	<string>0.22</string>
	<string>0.03</string>
	<string>0.39</string>
	<string>0.18</string>
	<string>0.46</string>
	<string>0.08</string>
	<string>0.08</string>
	<string>0.34</string>
	<string>0.18</string>
	<string>0.33</string>
	<string>0.39</string>
	<string>0.34</string>
	<string>0.35</string>
	<string>0.42</string>
	<string>0.48</string>
	<string>0.33</string>
	<string>0.32</string>
	<string>0.52</string>
	<string>0.58</string>
</array>
</plist>
